/* variables must be declared before the import for customizing CSS in Bootstrap */

$body-bg: #dbebfa;
$primary: #00abe4;
$secondary: #ffffff;

@import '~bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
  font-family: Poppins, sans-serif;
}

.form-control {
  background-color: #ffffff;
}
.form-control:active {
  background-color: #ffffff;
}

.card-body {
  text-align: center;
}

.my-flix {
  color: $primary;
}

.container-fluid {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.card {
  margin: 6px;
}

.navbar-brand {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.delete-button,
.logout-button {
  margin: 5px;
}

.card-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.btn {
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.sub-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.row {
  margin-top: 60px;
}

.genreRow,
.profileTop,
.settingsForm {
  margin-top: 10px;
}

.login-signup-title {
  font-family: Poppins, sans-serif;
  margin-left: 18px;
  margin-top: 8px;
  font-weight: 700;
}
