/* variables must be declared before the import for customizing CSS in Bootstrap */

$body-bg: #dbebfa;
$primary: #00abe4;
$secondary: #ffffff;

@import '~bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.form-control {
  background-color: #ffffff;
}
.form-control:active {
  background-color: #ffffff;
}

.card-body {
  text-align: center;
}

.my-flix {
  color: $primary;
}

.container-fluid {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.card {
  margin: 6px;
}

.navbar-brand {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
